<div id="<%= dom_id user %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">氏名:</strong>
    <%= user.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Emailアドレス:</strong>
    <%= user.email_address %>
  </div>
</div>
